.example-table-history {
  width: 100%;
  border-collapse: collapse;
  background-color: #DDFFBB;
}

.example-table-history th{
    padding: 10px;
    text-align: center;
    color: black;
}

.example-table-history td {
  padding: 10px;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.example-table-history th {
  background-color: #B3C99C;
  font-weight: bold;
}

.example-table-history tr:nth-child(even) {
  background-color: #C7E9B0;
}

.example-table-history tr:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}


/* .example-table::-webkit-scrollbar {
  width: 8px;
}

.example-table::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.example-table::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
} */

.MuiTextField-root {
  background: white;
}

.example-table-history td:last-child, .example-table th:last-child {
  text-align: center;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.example-table-history td .MuiSvgIcon-root {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.example-table-history td .MuiSvgIcon-root:hover {
  color: #f44336;
}

.example-table-history td .MuiSvgIcon-root:first-child {
  margin-right: 8px;
}

.example-table-history td button:hover {
  background-color: #3e8e41;
}

.example-table-history td button:focus {
  outline: none;
}

.example-table-history td button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 2px
}
